@media only screen and (max-width: 1108px) {
  .wrapper {
		Width: 90%;
  }

  #social {
		position: 82px 4px 0 0;
  }

  
}


@media only screen and (width: 900px) {
  body {
		font-size: 85%;
  }

  #logo h1 {
		height: 35px;
		width: 35px;
  }

  #logo h2 {
		font-size: 2.2em;
  }

  
}